<!-- <mat-toolbar color='primary'>  
  <mat-toolbar-row >
    <span>RemindMe</span>
    <span class="example-fill-remaining-space"></span>
  </mat-toolbar-row>
</mat-toolbar> -->
<!-- <mat-toolbar color="primary">
  <span>Responsive Navigation</span> <span class="example-fill-remaining-space"></span>
  <a href="#" mat-button>Menu Item 1</a> <a href="#" mat-button>Menu Item 2</a>
  <a href="#" mat-button>Menu Item 3</a> <a href="#" mat-button>Menu Item 4</a>
  <a href="#" mat-button>Menu Item 5</a> <a href="#" mat-button>Menu Item 6</a>
</mat-toolbar> -->
<router-outlet></router-outlet>