<div>
<mat-toolbar style="background-color: rgba(0,0,0,0.0);" mat-elevation-z2>
    <mat-toolbar-row>
        <h1>RemindMe</h1>
        <h1 style="margin-left: 20px;">Create Reminder</h1>
        <h1 style="margin-left: 20px;">My Reminders</h1>
        <span class="example-fill-remaining-space"></span>
        <h1>logout</h1>
    </mat-toolbar-row>
</mat-toolbar>
<mat-divider></mat-divider>
</div>
<div fxLayout="row wrap">
    <mat-card fxLayoutAlign="space-around center">
        <h1>remindMe</h1>
    </mat-card>
    <mat-card fxLayoutAlign="space-around center">
        <h1>remindMe</h1>
    </mat-card>
</div>