.mainDiv{
    padding: 20px;
}


.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}

.background {
    background: linear-gradient(to right,rgb(0, 183, 255) , rgb(183, 0, 255)) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
 }

 h1, h2, h3, .h1, .h2, .h3 {
    font-family: inherit;
    font-weight: 200;
    line-height: 1.1;
    color: #79589f;
}

h4 {
    font-family: inherit;
    font-weight: 200;
    line-height: 1.1;
}

.container {
    display: flex;           /* establish flex container */
    flex-direction: column;  /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
    align-items: center;     /* center items horizontally, in this case */
}

.box {
    width: 300px;
    height: 300px;
    margin: 5px;
    text-align: center; 
    justify-content: center; 
    overflow: auto;
}

.error{
    color: red;
    text-align: center;
}

.success{
    color: green;
    text-align: center;
}

.scroll{
    overflow: auto;
}


.mat-list-icon {
    color: rgba(0, 0, 0, 0.54);
}
  
