<mat-toolbar style="background-color: rgba(0,0,0,0.0);" mat-elevation-z2>
    <mat-toolbar-row>
        <h1>RemindMe</h1>
        <span class="example-fill-remaining-space"></span>
        <h1 (click)="logout()"> <a href="javascript:void(0);" style="text-decoration: none; color: #79589f;">Logout</a>
        </h1>
    </mat-toolbar-row>
</mat-toolbar>
<mat-divider></mat-divider>
<div fxFlexFill class="background">
    <mat-spinner [mode]="'indeterminate'" [diameter]="50" style="margin:0 auto;" *ngIf="showlogout"></mat-spinner>
    <div fxLayoutAlign="center center" fxFlexFill fxLayout='row' fxLayout.md='row' fxLayout.sm='column' fxLayout.xs='column'>
        <mat-card fxFlex='25' fxFlex.md='50' fxFlex.sm='50' fxFlex.xs='80' class="box">
            <h1>Create Reminder</h1>
            <form fxLayoutAlign='stretch' fxLayout='column'>
                <mat-form-field>
                    <input type="date" matInput placeholder="Date" [(ngModel)]="date" name="date" required>
                    <mat-label>Date</mat-label>
                    <!-- <select required matNativeControl [(ngModel)]="date" name="date">
                    <option *ngFor="let d of date_Select">{{d}}</option>
                </select> -->
                </mat-form-field>

                <!-- <mat-form-field>
                <mat-label>Month</mat-label>
                <select required matNativeControl [(ngModel)]="month" name="month">
                    <option *ngFor="let m of month_Select">{{m.month}}</option>
                </select>
            </mat-form-field> -->

                <mat-form-field>
                    <input matInput placeholder="Message" [(ngModel)]="message" name="message" required>
                </mat-form-field>

                <button mat-raised-button (click)='create_reminder()' class="buttonbg buttonText">Create</button><br />
                <mat-spinner [mode]="'indeterminate'" [diameter]="25" style="margin:0 auto;" *ngIf="create_show">
                </mat-spinner>
                <p class="error" *ngIf="ErrorClass">{{errMsg}}</p>
                <p class="success" *ngIf="SuccessClass">{{errMsg}}</p>
            </form>
        </mat-card>

        <mat-card fxFlex='25' fxFlex.md='50' fxFlex.sm='50' fxFlex.xs='80' class="box">
            <h1>My Reminders</h1>
            <mat-spinner [mode]="'indeterminate'" [diameter]="25" style="margin:0 auto;" *ngIf="show"></mat-spinner>
            <mat-accordion>
                <mat-expansion-panel *ngFor="let date of dateArr; let i=index;">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Date
                        </mat-panel-title>
                        <mat-panel-description>
                            {{date}}
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <mat-list>
                        <mat-list-item *ngFor="let msg of msgArr[i]">
                            <mat-icon mat-list-icon>message</mat-icon>
                            <div mat-line>{{msg}}</div>
                            <span class="example-fill-remaining-space"></span>
                            <button mat-button (click)="delete_reminder(msg,date)">
                                <mat-icon style="color: crimson;">remove_circle_outline</mat-icon>
                            </button> <br />
                        </mat-list-item>
                    </mat-list>
                    <mat-spinner [mode]="'indeterminate'" [diameter]="25" style="margin:0 auto;" *ngIf="delete_show">
                    </mat-spinner>
                </mat-expansion-panel>
                <p> {{rem_val}} </p>
            </mat-accordion>
            <p *ngIf="deleteMsg">Reminder deleted</p>
        </mat-card>
        <!-- <mat-card class="box">
            <h1>My Capsules</h1>
            <mat-spinner [mode]="'indeterminate'" [diameter]="25" style="margin:0 auto;" *ngIf="cshow"></mat-spinner>
            <mat-list>
                <mat-card *ngFor = "let type of typeArr; let i = index">
                    <mat-card-content>
                        <span>{{type}} </span>
                        <span>{{statusArr[i]}} </span>
                    </mat-card-content>
                </mat-card>
            </mat-list>
        </mat-card> -->
    </div>
</div>